#map1
{
  height: 200px;
  width:300px;
}
#map2
{
  height: 200px;
  width:300px;
}
#map3
{
  height: 200px;
  width:300px;
}
#map4
{
  height: 200px;
  width:300px;
}

#article
{
  height: 200px;
  width:1200px;
}
body{
  height: 2000px;
  width:1200px;
}
html {
  height: 2000px;
  width:1200px;
}
footer {
  text-align:center;
}

#map .tylers-legend {
  padding: 5px;
  text-align: center;
  border-style: solid;
  background-color: white;
}

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map {
  width: 500px;  
}

h1 {
  text-align: center;
}
